# BD Local
CLINIC_DATABASE_NAME=clinic_label_print
CLINIC_DATABASE_USER=
CLINIC_DATABASE_PASSWORD=

# Microsoft SQL Server externo
CLINIC_EXTERNAL_DATABASE_HOST=192.168.XX.XX
CLINIC_EXTERNAL_DATABASE_NAME=UNOEEPROD
CLINIC_EXTERNAL_DATABASE_USER=
CLINIC_EXTERNAL_DATABASE_PASSWORD=

# APP de Almacen - SSH
CLINIC_WAREHOUSE_APP_SSH_HOST=192.168.XX.XX
CLINIC_WAREHOUSE_APP_SSH_PORT=22
CLINIC_WAREHOUSE_APP_SSH_USER=
CLINIC_WAREHOUSE_APP_SSH_PASSWORD=

# APP de Almacen - base de datos vista desde el servidor SSH
CLINIC_WAREHOUSE_APP_DATABASE_HOST=127.0.0.1
CLINIC_WAREHOUSE_APP_DATABASE_PORT=5432
CLINIC_WAREHOUSE_APP_DATABASE_NAME=postgres
CLINIC_WAREHOUSE_APP_DATABASE_USER=
CLINIC_WAREHOUSE_APP_DATABASE_PASSWORD=
CLINIC_WAREHOUSE_APP_DATABASE_ENGINE=postgres
